<h1>Google Books</h1>
<h1>Showing Results for : <%=@books%></h1>
<h2>By Author : <%=@author%> </h2>
<img src=<%=@photo%>>
<p>For more information about this book, click here: <a href=<%=@info%>><%=@info%></a></p>
